/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/storage/framework/cache
/.idea
/docker/pgdata
/docker/logs
/docker/ssl/localhost.*
/src/public/css/*/*.css
/src/public/css/*/*.css.map

/src/.phpcs-cache